html {
    --doll-base-height: min(60vh, 60em);
    --doll-base-width: calc(var(--doll-base-height) / 2);
    --turned: 0;
}

body {
    --duration: 5s;
    margin: 0;
    height: 100dvh;

    perspective: 20em;
    transform-style: preserve-3d;
}

/* Base / Romp */
body > div > div:nth-child(1) {
    position: absolute;
    top: calc(50% - calc(var(--doll-base-height)/4));
    left: calc(50% - calc(var(--doll-base-width)/2));
    width: var(--doll-base-width);
    height: var(--doll-base-height);

    animation: --turn var(--duration) forwards;
    animation-play-state: paused;
    transform-style: preserve-3d;

    * {
        transform-style: preserve-3d;
    }
}

@keyframes --turn {
  0% {
    transform: 
      rotateY(0turn)
  }
  100% {
    transform: 
      rotateY(.5turn)
  }
}

@keyframes --negative-turn {
  0% {
    transform: 
      rotateY(0turn)
  }
  100% {
    transform: 
      rotateY(-.5turn)
  }
}

/* Borst en Buik */
body > div > div:nth-child(1) > div {
    --torso-width: calc(.5 * var(--doll-base-width));
    --torso-height: calc(.25 * var(--doll-base-height));

    border-radius: 2rem;
    position: absolute;
    width: var(--torso-width);
    height: 0;
    border-top: var(--torso-height) solid pink;
    border-left: calc(var(--torso-height) / 3) solid transparent;
    border-right: calc(var(--torso-height) / 3) solid transparent;

    /* Zet appearance none voor custom checkboxen */
    input[type="checkbox"] {
        appearance: none;
    }
}

/* De borst */
body > div > div:nth-child(1) > div:nth-child(1) {
    z-index: 10;

    /* Nek */
    > div:nth-child(1) {
        --neck-height: calc(var(--torso-height) * .3);
        --neck-width: calc(var(--torso-width) * .4);

        position: absolute;
        height: var(--neck-height);
        width: var(--neck-width);
        top: calc(-1 * (var(--torso-height) + var(--neck-height)));
        left: calc((var(--torso-width) / 2) - (var(--neck-width) / 2));

        background-color: black;
        animation: --slide .5s linear infinite;

        &:has(input:not(:checked)) {
            animation-play-state: paused;
        }

        /* Het hoofd */
        > label {
            --head-height: var(--torso-height);
            --head-width: var(--torso-height);
            display: block;
            position: absolute;
            top: 0;
            top: calc(-1 * calc(var(--head-height) * .9));
            left: calc((var(--neck-width) / 2) - (var(--head-width) / 2));
            height: var(--head-height);
            width: var(--head-width);
            border-radius: 50%;
            background-color: blue;
            animation: --nod .25s linear infinite;

            &:has(input:not(:checked)) {
                animation-play-state: paused;
            }
        }
    }
    
   
    /* Arm container */
    > div:not(:nth-child(1)) {
        --upper-arm-width: calc(.15 * var(--doll-base-width));
        --upper-arm-height: calc(.25 * var(--doll-base-height));

        position: absolute;
        height: var(--upper-arm-height);
        width: var(--upper-arm-width);
        top: calc(-1 * var(--torso-height));
        left: calc(-1 * (var(--torso-width) / 2));
        /* Linker en rechter upper-arm */
        > label {
            position: absolute; 
            background: brown;
            width: var(--upper-arm-width);
            height: var(--upper-arm-height);
            left: calc(.25 * var(--upper-arm-width));
            left: 0;
            border-radius: 25rem;
            transform-origin: 50% 0;

            /* Linker en rechter onder-arm */
            > div {
                --lower-arm-width: var(--upper-arm-width);
                --lower-arm-height: calc(.3 * var(--doll-base-height));

                position: absolute;
                background: blue;
                width: var(--lower-arm-width);
                height: var(--lower-arm-height);
                border-radius: 25rem;
                top: calc(var(--upper-arm-height) - (var(--upper-arm-width) / 2));
                transform-origin: 50% 0;

                /* Linker en rechter hand */
                > div {
                    --hand-width: var(--lower-arm-width);
                    --hand-height: calc(.1 * var(--doll-base-height));

                    position: absolute;
                    background: yellow;
                    width: var(--hand-width);
                    height: var(--hand-height);
                    border-radius: 25rem;
                    top: var(--upper-arm-height);
                }
            }
        }

        /* Linker arm container */
        &:nth-child(2) {
            
        }

        /* Rechter arm container */
        &:nth-child(3) {
            left: unset;
            right: calc(-1 * (var(--torso-width) / 2));
        }
    }
}


/* De buik */
body > div > div:nth-child(1) > div:nth-of-type(2) {
    top: var(--torso-height);
    left: calc(var(--torso-width) / 4);
    width: calc(var(--torso-width) / 2);
    height: 0;

    border-top: var(--torso-height) solid silver;
    border-left: calc(var(--torso-height) / 3) solid transparent;
    border-right: calc(var(--torso-height) / 3) solid transparent;
    /*Benen container*/
    > div {
        --upper-leg-width: calc(.2 * var(--doll-base-width));
        --upper-leg-height: calc(.25 * var(--doll-base-height));

        position: absolute;
        width: var(--upper-leg-width);
        height: var(--upper-leg-height);
        top: calc(-.5 * var(--torso-height) / 2);
        left: calc(-1 * var(--torso-width) / 4);

        /* Linker en rechter bovenbenen */
        > label {
            z-index: -1;
            position: absolute;
            background: brown;
            width: var(--upper-leg-width);
            height: var(--upper-leg-height);
            border-radius: 25rem;
                transform-origin: 50% 0;

            /* Linker en rechter onderbeen */
            > div {
                --lower-leg-width: var(--upper-leg-width);
                --lower-leg-height: calc(.3 * var(--doll-base-height));

                position: absolute;
                background: blue;
                width: var(--lower-leg-width);
                height: var(--lower-leg-height);
                border-radius: 25rem;
                top: calc(var(--upper-leg-height) - (var(--upper-leg-width)/ 2));
                transform-origin: 50% 0;

                /* Linker en rechter voet */
                > div {
                    --foot-width: var(--lower-leg-width);
                    --foot-height: calc(.1 * var(--doll-base-height));

                    position: absolute;
                    background: yellow;
                    width: var(--foot-width);
                    height: var(--foot-height);
                    border-radius: 25rem;
                    top: var(--upper-leg-height);

                    /* Uiteinde van de voeten */
                    > div {
                        --foot-end-width: var(--foot-width);
                        --foot-end-height: calc(var(--foot-height) * 1.5);

                        position: absolute;
                        background: pink;
                        width: var(--foot-end-width);
                        height: var(--foot-end-height);
                        border-radius: 25rem;
                        top: 0;
                    }
                }
            }
        }

        /* Linker been container */
        &:nth-child(1) {

        }

        /* Rechter been container */
        &:nth-child(2) {
            left: unset;
            right: calc(-1 * var(--torso-width) / 4);
        }
    }
}

/*Containers van alles behalve romp/borst/buik*/ 
body > div > div:nth-child(1) {
    
    > div:nth-child(1) > :not(:first-child) {
        animation: --negative-turn var(--duration) forwards;
        animation-play-state: paused;
    }

    > div:nth-child(2) > * {
        animation: --negative-turn var(--duration) forwards;
        animation-play-state: paused;
    }
}

/*Als de turned gechecked is draai het lichaam*/
body:has(div:nth-child(2) input[type="checkbox"]:checked) {

    > div > div:nth-child(1) {
        animation-play-state: running;

        > div:nth-child(1) > :not(:first-child) {
            animation-play-state: running;
        }

        > div:nth-child(2) > * {
            animation-play-state: running;
        }
    }
    
}


@keyframes --nod {
    0% {
        transform: translateY(0%);
    }
    25% {
        transform: translateY(-2.5%);
    }
    75% {
        transform: translateY(2.5%);
    }
}

@keyframes --slide {
    0% {
        transform: translateX(0%)
    }
    25% {
        transform: translateX(-40%)
    }
    75% {
        transform: translateX(40%)
    }
}